@import url("https://chunksui.netlify.app/css/style.css");

/* Header Styles */

.shadow {
  box-shadow: 0 0 4px hsl(var(--bg-400));
}

.q-container {
  width: 90vw;
  max-width: 85em;
  margin: 0 auto;
}

/* resets */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-Lato);
}

body {
  font-family: var(--font-poppins);
}

/* Header Styles */

.navbar {
  background-color: inherit;
  color: inherit;
}

.logo h2 {
  font-size: 2.2rem;
  font-weight: 700;
  padding: 0;
}

.search-box {
  display: none;
}

/* footer styles */

.q-footer {
  margin-top: auto;
  padding: 2rem;
}

.q-footer h3 {
  padding: 0;
}

/* Specific styles */

.q-hero {
  padding: 2rem 0;
  background-color: hsl(var(--bg-600));
}

.q-hero-container {
  width: 90vw;
  max-width: 48rem;
  margin: 0 auto;
}

.categories-container {
  padding: 2rem 0;
  align-self: center;
}

.card-image-container {
  padding: 2rem 1rem 0;
}

.quiz-cards-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.categories-cards-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.categories-page-container,
.questions-container {
  padding: 2rem 0;
}

.quiz-card {
  background-color: hsl(var(--bg-600));
}

.quiz-description-container {
  padding: 1rem;
}

.quiz-card-title {
  font-size: 2rem;
  font-weight: 600;
}

.quiz-card-description {
  padding-top: 1rem;
  color: hsl(var(font-500));
}

.quiz-button-container {
  margin: 1rem;
  display: flex;
  justify-content: flex-end;
}

.rules-container {
  width: 90vw;
  max-width: 35rem;
  margin: 0 auto;
}

.list-item:first-child {
  padding-top: 2rem;
}

.list-item {
  color: hsl(var(font-500));
}

.rules-btn-container a {
  margin: 1rem 0;
  display: inline-block;
}

.questions-container {
  width: 90vw;
  max-width: 40rem;
  margin: 0 auto;
}

.question {
  border: 1px solid hsl(var(--bg-600));
  padding: 1rem;
  border-radius: 0.25rem;
}

.question-header {
  display: flex;
  justify-content: space-between;
}

.question-number,
.quiz-score {
  color: hsl(var(--font-300));
}

.question-number span,
.quiz-score span {
  color: var(--pure-white);
  font-size: 1.2rem;
}

.question-title {
  margin: 1rem 0;
}

.question-options {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 1rem;
}

.question-option {
  padding: 0.5rem;
  background-color: hsl(var(--bg-600));
  border-radius: 0.25rem;
}

.question-option.correct {
  background-color: hsl(var(--green-700));
}

.question-option.wrong {
  background-color: hsl(var(--red-700));
}

@media (min-width: 760px) {
  .search-box {
    display: block;
  }
}
